// AntDesign width
$width-1: 4px;
$width-2: 8px;
$width-3: 12px;
$width-4: 16px;
$width-5: 20px;
$width-6: 24px;
$width-7: 32px;
$width-8: 40px;
$width-9: 48px;
$width-10: 64px;
$width-11: 80px;
$width-12: 104px;
$width-13: 128px;
$width-14: 168px;
$width-15: 208px;
$width-16: 272px;
$width-17: 336px;
$width-18: 440px;
$width-19: 552px;
$width-20: 720px;
$width-21: 896px;
$width-22: 1152px;
$width-23: 1440px;
$width-24: 1920px;
$width-24: 1920px;

// paddings
$padding-tiny: $width-1;
$padding-small: $width-2;
$padding-normal: $width-4;
$padding-big: $width-6;
$padding-huge: $width-8;
